body {
  background-color: #22262a;
  color: white;
  font-family: "Staatliches", cursive;
}
img {
  width: 100%;
  height: 5rem;
}
#intro {
  height: 28rem;
}
.sub {
  color: #94a4b4;
}
#intro button {
  border: 1px solid white;
  width: 8rem;
}

#mainFooter {
  font-family: "Inconsolata", monospace;
  background-color: #171a1d;
  color: #94a4b4;
}
#mainFooter span a {
  color: white;
  text-decoration: none;
}
.footer-items {
  justify-content: space-around;
}
